<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Nuevo Post</h1>
<form th:object="${post}" th:action="@{/post}" method="POST">

    <label>Titulo:</label>
    <div>
        <textarea cols="30" rows="1" type="text" maxlength="20" th:field="*{title}"/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Errors</span>
    </div>
    <br>
    <label>Texto: </label><br>
    <textarea cols="30" rows="15" maxlength="100" type="text" th:field="*{text}"/>
    <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Errors</span>
    <br>
        <label>Categoria: </label><select name="postCategory" id="postCategory">
            <option th:each="category : ${postCategoryList}"
                    th:value="${category.id}"
                    th:text="${category.name}"></option>
        </select>
    <br>
    <label>Usuario: </label><select name="userPost" id="userPost">

    <option th:each="user : ${userList}"
            th:value="${user.id}"
            th:text="${user.name}"
            ></option>
</select>
    <label>Mostrar: </label><select name="showPost" id="showPost">
    <option text="SI" value="SI">SI</option>
    <option text="NO" value="NO">NO</option>
</select>
    <br>
    <input type="submit" value="Guardar"></input>
</form>

</body>
</html>